/* 
# Portfolio Style Guide


## Colors Codes

  - General:                #212121 (offblack)
                            #FAFAFA (offwhite)
  - Background:             #363C98
  - Text:                   #363C98 (blue)

  - Hovered Links:         #
  - Active Button BG:      #
  - Caption BG in projects
    showcase:              #

  - Highlight, Selection,
    Link Underline:        #
  - Tap color
    (touch devices):       #
  - Marked Text BG,
    Callout Boxes BG:      #

  - Menu Separator,
    <hr> in text:          #
  - Blockquote BG:         #


## Table of Contents
  
1 Global Rules & Definitions

1.1 General Rules
1.2 General Typography
1.3 Images & Figures



2 Layout Helpers & Reusable Components

2.1 Links
2.2 Button
2.3 Landing Layout
2.4 Pagination
2.5 SVG



3 Site Layout

3.1 Header
3.2 Menu
3.3 Sticky Footer



4 Landing Page Specific

4.1 Landing - Profile
4.2 Landing - Work
4.3 Landing - Contact
4.4 Project Page 1-2
*/


/* =====  1 GLOBAL RULES AND DEFINITIONS  ================================================ */

/* -----  1.1 General Rules and Margins  ------------------------------------ */

body{
    background: #f1f1f1;
    font-family:'MaisonNeue', Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}


.main-container{
  margin-top: 130px;
/*  margin-bottom: 25px;*/
}

.main-container-fixed{
  margin-top: 100px;
  margin-bottom: 100px;
}

/*
#projectlist{
  padding-bottom: 2em;
}*/

section {
    display: block;
}

footer, header, nav {
}


.t-1 {
    top: 9vh;
}
.l-1 {
    left: 5vw;
}
.b-1 .l-2, .b-2, .l-1, .r-1, .r-2, .t-1, .t-2 {
    position: absolute;
}

/* -----  1.2 General Typography -------------------------------------------- */

/* Colours */
.offwhite {
    color: #212121;
}

.offblack {
    color: #FAFAFA;
}

.white {
    color: #FFF;
}

.black {
    color: #000;
}

.grey {
  color: #A9A9A9;
}

/* Headers */
h1, h2, h5 {
    margin: 0.25em 0em;
    line-height: 1.5;
    font-family:'MaisonNeueExtended', Helvetica, sans-serif;
}

h3, h4, h6 {
    margin: 0.25em 0em;
    line-height: 1.5;
    font-family: 'MaisonNeue', Helvetica, sans-serif;
}


/*128*/
h1{
  font-size: 8em;
  font-weight: 500;
  margin: 0.75em 0em;
}

/*60*/
h2{
  font-size: 3.75em;
  font-weight: 500;
}

/*36*/
h3{
  font-size: 2.25em;
  font-weight: 400;
}


/*24*/
h4{
  font-size: 1.5em;
  font-weight: 400;
}

/*20*/
h5{
  font-size: 1.25em;
  font-weight: 400;
}

/*18*/
h6{
    font-size: 1.125em;
    font-weight: 400;
}


/* Paragraphs */
/*16*/
p{
    font-family: 'MaisonNeue', Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.5em;
    letter-spacing: 0.025em;
    margin: 1em 0;
}


sup, sub {
    line-height: 0;
}

.super{
  font-family: 'LarishNeue', Times New Roman, serif;
/*  vertical-align: 1.7em;*/
/*  font-size: 1.15em;*/
  vertical-align: calc(1.25em + 0.5vw);
  font-size: calc(12px + 0.5vw);
  line-height: 1em;
  letter-spacing: 0.025em;
  margin: 0.5em 0.5em;
}

/* -----  1.3 Images & Figures  --------------------------------------------- */




/* =====  2 LAYOUT HELPERS & REUSABLE COMPONENTS   ======================================= */


/* -----  2.1 Links --------------------------------------------------------- */
a {
  text-decoration: none;
  cursor: crosshair;
}



/*a:link {
  color: inherit;
}*/


a:visited {
  color: #000;
}


a:active {
  color: #A9A9A9;
}

a:active, a:hover {
  outline: none;
}

a img {
  border: none;
  width: auto;
  height: 50%;
}

img.set1{
    width: 80%;
    height: auto;
    overflow: hidden;
    position: relative;
    float: right;
}

img.set2{
    width: 80%;
    height: auto;
    overflow: hidden;
    position: relative;
}

img.set3{
    width: 60%;
    height: auto;
    overflow: hidden;
    position: relative;
    float: right;
}

img.set4{
    width: 60%;
    height: auto;
    overflow: hidden;
    position: relative;
}

img.half{
  width: 100%;
  height: auto;
  overflow: hidden;
}

img.full{
  width: 100%;
  height: auto;
  overflow: hidden;
}


.p-landing-link-black {

  z-index: 1000;
  font-size:3.5vw;
  font-weight: 500;
  -webkit-text-fill-color: #000;
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.p-landing-link-black:hover, .p-landing-link-black:focus {
  opacity: 0.8;
  -webkit-text-fill-color: #FFF;
/*-webkit-text-stroke: 0.03em #000;*/
  -webkit-text-stroke: 0.03em transparent;
}


.p-landing-link-white {
font-size:3.5vw;
  font-weight: 500;
  opacity: 0.1;
  -webkit-text-fill-color: #FFF;
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.p-landing-link-white:hover, .p-landing-link-white:focus {
  opacity: 0.8;
  -webkit-text-fill-color: #FFF;
/*-webkit-text-stroke: 0.03em #000;*/
  -webkit-text-stroke: 0.03em transparent;
}


.p-landing-link-stroke  {

  z-index: 1000;
  font-size: 3.5vw;
  font-weight: 500;
  -webkit-text-stroke: 0.025em #000;
/*-webkit-text-fill-color: #FFF;*/
  -webkit-text-fill-color: transparent;

  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.p-landing-link-stroke:hover, .p-landing-link-stroke:focus {
  opacity: 0.8;
/*-webkit-text-fill-color: #000;*/
  -webkit-text-fill-color: #FFF;
  -webkit-text-stroke: 0.0em #000;
}




.about-bg{
  background-color: #000;
}

.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .25s;
  pointer-events: none;
}

.project-holder {
/*  overflow:hidden;*/
  max-width: 80vw;
}

.project-name{
  font-family:'MaisonNeueExtended', Helvetica, sans-serif;
  display: inline-block;
  padding-right: 1.75em;
}

/*- Twitch -*/
.ex1{

}

.project-holder .ex1:hover ~ .bg{
  background: #6441A4;
}

/*-- dutchDesign17 --*/

.ex2{
}
.project-holder .ex2:hover ~ .bg{
  background: #FCFC00;
}

/*-- Sleepover --*/
.ex3{
}
.project-holder .ex3:hover ~ .bg{
  background: #123055;
}

/*-- NBA --*/
.ex4{
}
.project-holder .ex4:hover ~ .bg{
  background: #1A408B;
}


/*-- Experience Hue --*/
.ex5{
}
.project-holder .ex5:hover ~ .bg{
  background: #212121;
}


/*-- Saved Messages --*/
.ex6{
}

.project-holder .ex6:hover ~ .bg{
  background: #44c7f3;
}

/*-- Melancholy --*/
.ex7{
}
.project-holder .ex7:hover ~ .bg{
  background: #212121;
}

/*-- Kara --*/
.ex8{
}
.project-holder .ex8:hover ~ .bg{
  background: #BF967A;
}

/*-- RV2020 --*/
.ex9{
}
.project-holder .ex9:hover ~ .bg{
  background: #22505f;
}


/*--  --*/
.exnull1{
}
.project-holder .exnull1:hover ~ .bg{
  background: #f6be00;
}

.exnull2{
}


.project-holder .exnull2:hover ~ .bg{
  background: #9A3324;
}

/* -----  2.2 Landing Layout ------------------------------------------------------- */

/* -----  2.3 Project Layout ------------------------------------------------ */


.comp-top-title{
  margin-top: 5em;
  margin-bottom: 10em;
}

.project-title{
  font-size: calc(2.25em + 5vw);
/*    margin: 0.75em 0em;*/
}

.textbox{
  margin: 5em 0;
}

.project-catchline{
  margin: 2em 0em;
  padding: 2em;
}

.project-description{
  margin: 0em;
  padding: 0 2em;
}


.comp-title-image{
  overflow: hidden;
}

.project-title-images{
  margin-top: -3em;
  width:100%;
  height: auto;
  min-height: auto;
  min-width: 1080px;
}

.project-fullscreen-images{
  width:100%;
  height: auto;
  min-height: auto;
  min-width: 1080px;
}


.comp-one-img{
/*  margin-top: 1em;*/
margin-top: 5em;
  overflow: hidden;
}

.project-one-images{
  width:100%;
  height: auto;
  min-height: auto;
  min-width: 1080px;
}

.float_center {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}

.float_center > .child {
  position: relative;
  left: 50%;
}


.main section {
      overflow: hidden;
    }

.main section.page1{
  overflow: hidden;
}

.main section.page1 .page_container {
  overflow: hidden;
}

.main section.page2{
    background:rgb(230, 217, 200);
}

.main section.navyblue{
    background: rgb(19, 48, 85);
}

.main section.fullwhite{
    background: #fff;
}

/*.center-container{
  margin: 12em 0;
}
*/

.center-container{
  margin: 8% 0;
}


.center-text{
  text-align: center;
  margin: 12em 8em;
}

.photo-container{
  margin: 3em 0;
  padding: 0 0 4em 0;
}

.photo-container-2{
  margin: 8em 0;
  padding: 0 0 4em 0;
}

.comp-brief{
  margin-top: 5em;
  margin-bottom:5em;
}


.comp-half-1{
}


.comp-half-2{
  margin-top: 5em;
  padding-bottom: 5em;
}


.comp-half-text{
  margin-top: 5em;
  margin-bottom: 5em;
}

.comp-half-text p{
padding-right:1.75em;
}


.comp-2-imgs{
  margin-top: 5em;
  margin-bottom: 2em;
}


.comp-2-imgs-pag{
  margin-top: 5em;
  margin-bottom: 10em;
}


.main section.one-img .page_container {
  overflow: hidden;
}


/* -----  2.4 Pagination ---------------------------------------------------- */


.pagination{
  margin: 16em 0;
}

.testblock{
    width: 100%;
    max-width: 1080px;
    min-width: 748px;
    margin: 0 auto;
}

.previous-block{
  float: left;
  width:50%;
  display: block;
}

.next-block{
  float: right;
  width:50%;
  display: block;
}

h5 .previous{
  float:left;
}

.next{
  text-align: right;
  position: relative;
  padding-right: 1.5em;
}

.pagination-name{
  font-size: 5em;
  margin: 0.25em 0em;
  line-height: 1.5;
  font-family:'MaisonNeueExtended', Helvetica, sans-serif;
  font-weight: 500;

  -webkit-text-stroke: 0.025em #000;
/*-webkit-text-fill-color: #FFF;*/
  -webkit-text-fill-color: transparent;

  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.pagination-name:hover, .pagination-name:focus {
  opacity: 0.8;
-webkit-text-fill-color: #000;
  -webkit-text-stroke: 0.0em #000;
}


.pname-previous{
}



.trans-prev-hi {
  transform: translate(-375px, 0px);  -webkit-transition: 1500ms ease-in-out;
  -moz-transition: 1000ms ease-in-out;
  -o-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
}

.trans-prev-hi:hover{
  transform: translate(0px, 0px);
  -webkit-text-fill-color: #000;
  -webkit-transition: 1500ms ease-in-out;
  -moz-transition: 1500ms ease-in-out;
  -o-transition: 1500ms ease-in-out;
  transition: 1500ms ease-in-out;
}

.trans-prev-med {
  transform: translate(-250px, 0px);  -webkit-transition: 1500ms ease-in-out;
  -moz-transition: 1000ms ease-in-out;
  -o-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
}

.trans-prev-med:hover{
  transform: translate(0px, 0px);
  -webkit-text-fill-color: #000;
  -webkit-transition: 1500ms ease-in-out;
  -moz-transition: 1500ms ease-in-out;
  -o-transition: 1500ms ease-in-out;
  transition: 1500ms ease-in-out;
}





.trans-next-hi{
  transform: translate(375px, 0px);
  -moz-transition: 1000ms ease-in-out;
  -o-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
}

.trans-next-hi:hover{
  transform: translate(0px, 0px);
  -webkit-text-fill-color: #000;
  -webkit-transition: 1500ms ease-in-out;
  -moz-transition: 1500ms ease-in-out;
  -o-transition: 1500ms ease-in-out;
  transition: 1500ms ease-in-out;
}


.trans-next-med{
  transform: translate(200px, 0px);
  -moz-transition: 1000ms ease-in-out;
  -o-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
}

.trans-next-med:hover{
  transform: translate(0px, 0px);
  -webkit-text-fill-color: #000;
  -webkit-transition: 1500ms ease-in-out;
  -moz-transition: 1500ms ease-in-out;
  -o-transition: 1500ms ease-in-out;
  transition: 1500ms ease-in-out;
}





.pname-next{
  float: right;
  position: relative;

}

.group{
  margin:2em 0;
}


.hover_img a{
}

.hover_img a span{
  position: relative;
  display: none;
  z-index: -1000;

  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.hover_img a:hover span{
  display: block;
}

.about-hover-img{
  margin: 2em 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}


/* -- */
.preview_content {
  display: none;
}

.center-hover-img {
    height: auto;
    position: absolute;
    z-index: -1000;
    width: 50%;
    min-width: 300px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translate(-50%, -50%);  /* IE 9 */
    transform: translate(-50%, -50%);  /* Firefox 16+, IE 10+, Opera */
}

.preview-next{
/*  float: left;  */
}

.preview-next:hover .preview_content{
  display: block;
}

.preview-previous{
/*  width: 40%;*/
}

.preview-previous:hover .preview_content{
  display: block;

}

.center-hover-img:hover{

}


/*-- ---*/


.type{
  display:none;
  position: fixed;
  right: 58px;
  bottom: 18px;
}

.on-hover:hover .type{
  display: block;
}

p.example{
   font-family: 'MaisonNeueExtended', Helvetica, sans-serif;
    font-size: 1.125em;
    margin: 1.75em 1.5em 1.5em 0;
    padding: 0 0.25em 0 0;
}






/* -----  2.7 Back-to-Top --------------------------------------------------- */




/* =====  3 SITE LAYOUT  ================================================================= */

/* -----  3.1 Header -------------------------------------------------------- */

/* -----  3.2 Navigation Menu ----------------------------------------------- */



nav{
}


.navbar{
  overflow: hidden;
  background-color: none;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 100;
}

.topnav a.icon{
  color: grey;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 8.3em;
}

.sidenav a {
  font-family: 'MaisonNeueExtended', Helvetica, sans-serif;
  padding: 0.5em 1.5em;
  text-decoration: none;
  font-size: 2em;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-bottom: none;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 2.5em;
    right: 0.5em;
    font-size: 1.125em;
}

.menu-item{
    font-family: 'MaisonNeueExtended', Helvetica, sans-serif;
    font-size: 1.125em;

    float: right;
    margin: 1.75em 1.5em 1.5em 0;
    padding: 0 0.25em;
    display: block;
}

.menu-item-left{
    font-family: 'MaisonNeueExtended', Helvetica, sans-serif;
    font-size: 1.125em;

    float: left;
    margin: 1.75em 1.5em 1.5em 0;
    padding: 0 0.25em;
    display: block;
}

.menu-item:hover, .menu-item:active, .menu-item:focus{
    border-bottom: 2px solid;
    border-color: inherit;
}

.icon{
    font-family: 'MaisonNeueExtended', Helvetica, sans-serif;
    font-size: 1.125em;
    float: right;
    margin: 1.75em 1.5em 1.5em 0;
    padding: 0 0.25em;
    display: block;
}

.topnav .icon{
  display: none;
}






/* -----  3.3 Sticky Footer ------------------------------------------------- */

.footer-container{
  z-index: 1000;
}

.footer{
  overflow: hidden;
  background-color: none;
  position: absolute; 
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding-bottom: 1.5em;
  z-index: 1000;
  bottom:0;
  clear:both;
}

.footer-projects{
  overflow: hidden;
  background-color: none;
  position: absolute;
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding-bottom: 1.5em;
  z-index: 1000;
  bottom:0;
  clear:both;
}



.footer-item{
    font-family: 'MaisonNeueExtended', Helvetica, sans-serif;
    font-size: 1.125em;
    color: #000;
    float: left;
    margin: 1.75em 1.5em 1.5em 0;
    padding: 0 0.25em 0 0;
    display: block;
}

.footer-item:hover, .footer-item:active, .footer-item:focus{
   /* border-bottom: 2px solid;
    border-color: inherit;*/
    color: #FFF;
}


/* =====  4 LANDING PAGE SPECIFIC  ======================================================= */

/* -----  4.1 Landing - Profile  -------------------------------------------- */
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

/* Demo colors */
a:hover, a:focus {
  color: #fff;
}

.loader{
  position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    background: url('../images/loading.gif') 50% 50% no-repeat #F9F0E5;
    background-size: auto;
    overflow: hidden;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1500ms;
  animation-name: animatebottom;
  animation-duration: 1500ms
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}





/* -----  4.2 Landing - Work ------------------------------------------------ */





/* -----  4.3 Landing - Contact --------------------------------------------- */

.about{
  color: #f1f1f1; /*all font color*/
}

.part1, .part4 {
  padding: 3em 0 10em 0;
}

.part2, .part3{
  padding: 6em 0;
}




.part1 h2{
  line-height: 1.4;
}

.part2 p{
  font-family: 'MaisonNeueExtended', Helvetica, sans-serif;
  font-weight: 100;
  line-height: 2;
  font-size: 1.3em;
  padding-bottom: 2em;
}


.p-landing-link-white-stroke  {
  z-index: 1000;
  font-weight: 500;
  -webkit-text-stroke: 0.025em #FFF;
  -webkit-text-fill-color: transparent;

  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.p-landing-link-white-stroke:hover, .p-landing-link-white-stroke:focus {
  opacity: 1;
  -webkit-text-fill-color: #FFF;
  -webkit-text-stroke: 0.0em #000;
}


.about-bg .navbar a:visited{
  color: #fff;
}

.about a:visited{
  color: #fff;
}


.fact{
  display: inline-flex;
}











